<% form_for(@team,:html=>{:multipart=>true}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </p>
  <% if admin? %>
   <%= f.label :active, "Team is active: " %>
   <%= f.check_box :active %>
  <% end %>
  <p>
    <%= f.submit ( @team.new_record? ? 'Create' : 'Update' ) %>
  </p>
<% end %>

