
<% form_for(@team,:html=>{:multipart=>true}) do |f| %>

<div style="float:left;padding:30px">
<%= render :partial => "calendar" %>
</div>

<div style="float:left;">
  <%= f.error_messages %>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
<br />
    <%= f.label :description %><br />
    <%= f.text_field :description %>
<br />
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
<br />
  <% if admin? %>
   <%= f.label :active, "Team is active: " %>
   <%= f.check_box :active %>
  <% end %>
  <p>
    <%= f.submit ( @team.new_record? ? 'Create' : 'Update' ) %>
  </p>
</div>

<div style="clear:both"></div>

<% end %>
