<div style="float:left;">

  <% form_for(@team,:html=>{:multipart=>true}) do |f| %>
    <%= f.error_messages %>
    <table>
      <tr><th>Name</th><td><%= f.text_field :name %></td></tr>
      <tr><th>Description</th><td><%= f.text_field :description %></td>
      <tr><th>Upload a<br />team photo</th><td><%= f.file_field :photo %></td></tr>
      <tr><th>How many hours will your<br />team commit to sing?</th>
        <td>

          <%=
          hours = [3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]
          options = hours.collect! { |h| ["#{h} hours --  Fundraising goal: $#{h*500}", h] }
          f.select "hours", options
        %>
      </td></tr>




      <tr><th>Singing time preference:<br />(e.g., "not after 2am", "hours spread out", "all in one chunk")</th>
        <td><%= f.text_area :calendar, :cols => 30, :rows=>5 %><br />
          Singing time slots will be finalized two weeks prior to the event and<br /> will be listed on your team status page.
      Please make your comments<br /> as specific as possible so that we can ensure that you're assigned the slots you want.</td></tr>
    
    </table>
    <br/>
    <% if admin? %>
      <%= f.label :"Admin: Is team time slot approved?" %>
      <%= f.check_box :approved, :class => "radiobutton" %>
      <%= f.label :"Admin: Is team active?" %>
      <%= f.check_box :active, :class => "radiobutton" %>
    <% end %>
    <p>
      <%= f.submit( @team.new_record? ? 'Create' : 'Update' ) %>
    </p>
  </div>

  <div style="clear:both"></div>

<% end %>
