<div style="float:left;">

<% form_for(@team,:html=>{:multipart=>true}) do |f| %>
 <%= f.error_messages %>
 <%= f.label :Name %> <br/>
 <%= f.text_field :name %> <br/>
 <%= f.label :Description %><br/>
 <%= f.text_field :description %> <br/>
 <%= f.label :"Select Photo (optional)" %> <br/>
 <%= f.file_field :photo %> <br/>
 <%= f.label :"What donation goal do you want to aim for?" %> <br/>


<%
# options = 3..24.collect! { |hours| "<option>#{hours} hours for $#{hours*500}" }
# select_tag "hours", options
 %>

 <div style="border:dashed 1px grey">
 <%= f.radio_button :hours,:"200" %>Three hours for a donation goal of $200<br/>
 <%= f.radio_button :hours,:"400" %>Four hours for a donation goal of $400<br/>
 <%= f.radio_button :hours,:"600" %>Five hours for a donation goal of $600<br/>
 </div>

 <br/>
<% if params[:action] == "edit" && @team.approved == false %>
Current timeslot: <%= @team.calendar %>
<% else %>
 <%= f.label :"Please describe in english the ideal times you'd like to sing" %> <br/>
 <%= f.text_area :calendar, :cols => 30, :rows=>5 %>
<% end %>
 <br/>
 <% if admin? %>
  <%= f.label :"Admin: Is team time slot approved?" %>
  <%= f.check_box :approved %>
  <%= f.label :"Admin: Is team active?" %>
  <%= f.check_box :active %>
 <% end %>
 <p>
   <%= f.submit ( @team.new_record? ? 'Create' : 'Update' ) %>
 </p>
</div>

<div style="clear:both"></div>

<% end %>
