<div id="team_menu">

<% if !current_user %>
<h1><%= link_to 'join team', :action => "join", :id => @team.id %></h1>
<p>join this team</p>
<% elsif @team.is_owner?(current_user) %>
<h1><a href="/sponsor">raise</a></h1>
<p>ask folks to help sponsor</p>
<h1><%= link_to "invite", invite_path(current_user.id) %></h1>
<p>friends to your team</p>
<div id="team_detail_controls"><%= link_to '>Edit Team', edit_team_path(@team) %> &nbsp;

<%= link_to '>Leave Team', :action => "leave" , :id => @team.id %>
<%= link_to ">Destroy", @team, :confirm => 'Are you sure?', :method => :delete %>
</div>
<% elsif @team.is_member?(current_user) %>
<h1><a href="/sponsor">raise</a></h1>
<p>ask folks to help sponsor</p>
<h1><%= link_to "invite", invite_path(current_user.id) %></h1>
<p>friends to your team</p>
<div id="team_detail_controls">
<%= link_to '>Leave Team', :action => "leave" , :id => @team.id %>
</div>

<% else %> 
<h1><%= link_to 'join team', :action => "join", :id => @team.id %></h1>
<p>join this team</p>
<% end %>
<h1>members</h1>
<ul>
<% @member_list.each do |user| %>
   <li><%= user.firstname %> <%= user.lastname %></li>
<% end %>
</ul>
<h1>timeslot</h1>
<ul>
  <li><%= @team.calendar ? @team.calendar.gsub(',', "</li>\n<li>") : "Pending: Your timeslot is awaiting confirmation" %></li>
</ul>
</div>
