<h1><%= link_to "invite", invite_path(current_user.id) %></h1>
<p>friends to your team</p>
<h1><%= link_to "raise", donate_path %></a></h1>
<p>ask folks to donate</p>
<h1>members</h1>
<ul>
<% @member_list.each do |user| %>
   <li><%= user.firstname %> <%= user.lastname %></li>
<% end %>
</ul>
<h1>timeslot</h1>
<p class="ital"><%= @team.calendar ? @team.calendar : "Pending: Your timeslot is awaiting confirmation" %></p>

