
<%
  total_donations = 0
  @member_list.each do |member|
    total_donations = total_donations + member.payments
  end
%>

<h1><%= @team.name %></h1>
<h1>total donations are <%= number_to_currency(total_donations/100) %></h1>
<p class="explain"><%= @team.description %></p>
<div id="teamtop5">
 <div class="boxxy">
  <div class="no1">
  <img id="no1graphic" src="/images/no1.png?" alt="No1"/>
  <% if @member_list && @member_list.length >0 && @member_list[0].photo_file_name %>
  <%= image_tag("/system/photos/#{@member_list[0].id}/small/" + @member_list[0].photo_file_name, :size => "88x88", :style => "border: 2px solid yellow;") %> 
  <% else %>
  <img id="no1" src="/images/default.jpg", width="88" height="88"/>
  <% end %>
  <% if @member_list && @member_list.length >0 %>
  <p><%= @member_list[0].firstname + " " +  @member_list[0].lastname %></p>
  <% end %>
  </div>
  <table>
   <% @member_list.each do |member| %>
    <tr>
     <td><%= member.firstname %> <%= member.lastname %></td>
     <td><%= number_to_currency(member.payments/100) %></td>
    </tr>
   <% end %>
  </table>
 </div>
</div>

<h1>what's up</h1>

<%= Note.find(:all) %>
