<div style="float:right;width:200px;height:200px;border:1px solid red;">
  <%= @team.depiction %>
</div>

<h1><%=  @team.title %></h1>
<h2><%= @team.description %></h2>

<%= link_to 'Invite team members!', invite_path, :id => @team.id %>

<h3>Team members</h3>
<table>
  <tr>
    <th>Rank</th><th>Name</th><th>Amount Raised</th><th>Details</th>
  </tr>
  <% count = 0
  1.upto(6) do |i| %>
    <tr>
      <td><%= i %></td><td>Member <%= i %></td><td>$<%= count = count + (i*100) %></td><% link_to "Edit", users_path, :id => "#{i}"  %>
    </tr>
  <% end %>
  <tr>
    <td></td><th>Total</th>><td>$<%= count %></td>
  </tr>

</table>

Link to invite people to team -- iff this is your team<br/>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
