<h1><%= @team.name %></h1>
<p class="explain"><%= @team.description %></p>

<% donation_total = 0 %>

<div id="teamtop5">
  <div class="boxxy">
  <div class="no1">
  <%= image_tag "no1.png" %>
  <img src="/images/default.jpg", width="88" height="88" style="border: 3px solid yellow;" />
  <p><%= User.find(1).firstname + " " +  User.find(1).lastname %></p></div>
  <table>
    <tr>
     <th>top 5</th>
     <th>$$$</th>
    </tr>
   <% @member_list.each do |user|
         donation = user.get_donations
   %>
    <tr>
     <td><%= user.firstname %> <%= user.lastname %></td>
     <td><%= donation %></td>
    </tr>
   <% end %>
  </table>
</div>
</div>

<h1>what's up</h1>

<%= Note.find(:all) %>
