<h1><%= @team.name %></h1>
<p class="explain"><%= @team.description %></p>

<% donation_total = 0 %>
<div id="teamtop5">
  <div class="boxxy">
  <div class="no1">
  <img id="no1graphic" src="/images/no1.png?" alt="No1"/>
  <% if current_user.photo_file_name %>
    <%= image_tag("/system/photos/#{current_user.id}/small/" + current_user.photo_file_name, :size => "88x88", :id => "no1") %> 
  <% else %>
  <img id="no1" src="/images/default.jpg", width="88" height="88"/>
  <% end %>
  <p><%= User.find(1).firstname + " " +  User.find(1).lastname %></p></div>
  <table>
   <% @member_list.each do |user|
         donation = user.get_donations
   %>
    <tr>
     <td><%= user.firstname %> <%= user.lastname %></td>
     <td>$<%= donation %></td>
    </tr>
   <% end %>
  </table>
</div>
</div>

<h1>what's up</h1>

<%= Note.find(:all) %>
