#depiction{:style=>"float:right;width:200px;height:200px;border:1px solid red;"}= @team.depiction

%h1= @team.name
%h2= @team.description

- if !current_user
  = link_to "Signup to join this team!", new_account_path
- elsif @team.is_owner?(current_user)
  = link_to 'Edit', edit_team_path(@team)
  = link_to 'Invite team members!', :action => "invite"
  = link_to "Destroy team :(", @team, :confirm => 'Are you sure?', :method => :delete
- elsif @team.is_member?(current_user)
  = link_to 'Leave team', :action => "leave" , :id => @team.id
- else
  = link_to 'Join team', :action => "join"

- donations_total = 0

%h3 Team members
%table.users
  %tr
    -# TODO ALLOW REORDERING
    %th Rank
    %th Name
    %th Amount Raised
    %th Details
  - @member_list.each do |user|
    - donations = user.get_donations
    - donations_total = donations_total + donations
    %tr
      %td= user.id
      %td= "#{user.firstname} #{user.lastname}"
      %td= donations 
      %td= link_to "Show", user
  %tr
    %td
    %th Total
    %th donations_total
