<div style="float:right;width:200px;height:200px;border:1px solid red;">
  <%= @team.depiction %>
</div>

<h1><%=  @team.title %></h1>
<h2><%= @team.description %></h2>

<%= link_to 'Invite team members!', :action => "invite" %>

<h3>Team members</h3>
<table>
  <tr>
    <th>Rank</th><th>Name</th><th>Amount Raised</th><th>Details</th>
  </tr>
  <% @member_list.each do |user| %>
    <tr>
      <td><%=user.id%></td><td><%= user.firstname %> <%= user.lastname %></td><td>$1,000</td><td><%= link_to "Show", user %></td>
    </tr>
  <% end %>
  <tr>
    <td></td><th>Total</th><th>$1,000,000</th>
  </tr>

</table>

Link to invite people to team -- iff this is your team<br/>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
