<h1><%= @team.name %></h1>
<p class="explain"><%= @team.description %></p>

<% donation_total = 0 %>
<div id="teamtop5">
  <div class="boxxy">
  <div class="no1">
  <img id="no1graphic" src="/images/no1.png?" alt="No1"/>
  <% if current_user && current_user.photo_file_name %>
    <%= image_tag("/system/photos/#{current_user.id}/small/" + current_user.photo_file_name, :size => "88x88", :style => "border: 2px solid yellow;") %> 
  <% else %>
  <img id="no1" src="/images/default.jpg", width="88" height="88"/>
  <% end %>
  <p><%= User.find(1).firstname + " " +  User.find(1).lastname %></p></div>
  <table>
   <% @member_list.each do |user|
         donation = user.get_donations
   %>
    <tr>
     <td><%= user.firstname %> <%= user.lastname %></td>
     <td>$<%= donation %></td>
    </tr>
   <% end %>
  </table>
</div>
</div>

<h1>what's up</h1>
<% if current_user %>
<div id="notes">
<% form_for Note.new do |f| %>
  <%= f.hidden_field(:team_id, :value => @team.id) %>
  <%= f.hidden_field(:owner_id, :value => current_user.id) %>
  <%= f.hidden_field(:kind, :value => 'comment') %>
  <%= f.text_field :description %>
  <%= submit_tag 'share' %>
<% end %>
</div> 
<% end %>

<% Note.find(:all).each do |n| %>
<% nowner = User.find_by_id(n.owner_id) %>
<%= image_tag("/system/photos/#{n.owner_id}/small/" + nowner.photo_file_name, :size => "50x50") %>
<p><span class="namelabel"><%= nowner.firstname %> <%= nowner.lastname %></span> <%= n.description %></p>
<p class="date"><%= n.created_at %></p>
<% end %>
