<h1 class="grey"><%= @team.name %></h1>
<p class="explain"><%= @team.description %></p>
<div id="teamtop5">
 <div class="boxxy">
  <div class="no1">
  <img id="no1graphic" src="/images/no1.png?" alt="No1"/>
  <% if @member_list && @member_list.length >0 && @member_list[0].photo_file_name %>
  <%= image_tag("/system/photos/#{@member_list[0].id}/small/" + @member_list[0].photo_file_name, :size => "88x88", :style => "border: 2px solid yellow;") %>
  <% else %>
  <img id="no1" src="/images/default.jpg", width="88" height="88"/>
  <% end %>
  <% if @member_list && @member_list.length >0 %>
  <p><%= @member_list[0].firstname + " " + @member_list[0].lastname %></p>
  <% end %>
  </div>
  <table>
   <% @member_list.each do |member| %>
    <tr>
     <td><%= member.firstname %> <%= member.lastname %></td>
     <td><%= number_to_currency(member.payments/100) %></td>
    </tr>
   <% end %>
  </table>
 </div>
</div>
<h2 class="grey">total donations are <%= number_to_currency(@team.total_donations/100) %></h2>
<% if @announcement %>
<div id="latest_drop">
<span id="drop_title">Latest Drop </span><span id="drop_date"><%= @announcement.created_at.strftime("%d-%m-%y %H:%M") %></span><span id="drop_author">
from Scott</span>
<p> <%= @announcement.description %> </p>
</div>
<% end %>
 
<h1>what's up</h1>
<% if current_user %>
<div id="notes">
<% form_for Note.new do |f| %>
  <%= f.hidden_field(:team_id, :value => @team.id) %>
  <%= f.hidden_field(:owner_id, :value => current_user.id) %>
  <%= f.hidden_field(:kind, :value => 'comment') %>
  <%= f.text_field :description %>
  <%= submit_tag 'share' %>
<% end %>
</div> 
<% end %>

<% Note.find(:all, :conditions => { :team_id => @team.id }, :order => "created_at DESC" ).each do |n| %>
<% nowner = User.find_by_id(n.owner_id) %> 
<% if nowner %>
<p><span class="namelabel"><%= nowner.firstname %> <%= nowner.lastname %></span> <%= n.description %></p>
<p class="date"><%= n.created_at %></p>
<% else %>
Moo moo moo!
<% end %>

<% end %>

