<div style="float:right;width:200px;height:200px;border:1px solid red;">
<% if @team.photo.exists? then %>
<p><%= image_tag @team.photo.url(:small) %></p>
<% end %>
</div>

<h1><%= @team.name %></h1>
<h2><%= @team.description %></h2>

<% if !current_user %>
 <%= link_to "Signup to join this team!", new_account_path %> 
<% elsif @team.is_owner?(current_user) %>
 <%= link_to 'Edit', edit_team_path(@team) %> | 
 <%= link_to 'Invite team members!', :action => "invite" %> | 
 <%= link_to "Destroy team :(", @team, :confirm => 'Are you sure?', :method => :delete %>
<% elsif @team.is_member?(current_user) %>
 <%= link_to 'Leave team', :action => "leave" , :id => @team.id %>
<% else %> 
 <%= link_to 'Join team', :action => "join" %>
<% end %>

<% donation_total = 0 %>

<h3>Team members</h3>
<table>
 <tr>
  <% # TODO ALLOW REORDERING %>
  <th>Rank</th>
  <th>Name</th>
  <th>Amount Raised</th>
  <th>Details</th>
 </tr>
 <% @member_list.each do |user|
       donation = user.get_donations
       donation_total = donation_total + donation
 %>
  <tr>
   <td><%=user.id%></td><td><%= user.firstname %> <%= user.lastname %></td>
   <td><%= donation %></td>
   <td><%= link_to "Show", user %></td>
  </tr>
 <% end %>
 <tr>
   <td></td><th>Total</th><th><%= donation_total %></th>
 </tr>
</table>

