<h1>Change My Password</h1>
<% form_for @user, :url => edit_password_reset_path, :method => 'post' do |f| %>
  <%= hidden_field_tag 'token', @user.perishable_token %>
  <%= f.error_messages %>
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %><br />
  <br />
  <%= f.submit "Update my password and log me in" %>
<% end %>
