<div id="login-header">
  <% if current_user %>
    Hi there, <%= current_user.email %>! 
    <%= link_to "My Account", account_path %> |
    <%= link_to "Signout", signout_path, :method => :delete %>
  <% else %>
    <% form_for UserSession.new, :url => user_session_path do |f| %>
      <%= f.label :login %>: <%= f.text_field :email %>
      <%= f.label :password %>: <%= f.password_field :password %><br />
      <%= f.check_box :remember_me %><%= f.label :remember_me %>
      <%= f.submit "Login" %>
    <% end %>
    <%= link_to "Signup", signup_path %>
  <% end %>
</div>

