<h1>Admin Dashboard</h1>

<a href="/scaffold">Database acccess to teams</a><br/>
<a href="/scaffoldusers">Database acccess to users</a><br/>
<a href="/scaffoldpayments">Database acccess to payments</a><br/>

<% link_to "Show users", :action => 'index', :controller => 'users' %>
 
<% link_to "show teams", teams_path %>

<script>
function visibility_toggle(id) {
  var node = document.getElementById(id);
  if( node ) {
    if(node.style.visibility == 'visible') node.style.visibility = 'hidden';
    else node.style.visibility = 'visible';
  }
}
</script>

<div id="admin">
 <% @teams.each do |team| %>
  <div onclick="visibility_toggle('members<%=team.id%>');"><%= team.name %></div>
  <div id="members<%=team.id%>" style="visibility:hidden">
    <% User.find(:all, :conditions => { :team_id => team.id  }).each do |user| %>
      <%= 0 %> <%= user.firstname %>
    <% end %>
  </div>
 <% end %>
</div>

<div id="updates">
<% form_tag '/admin_announcement' do -%>
<%= text_area_tag "announcement", "Message that shows up everywhere", :rows => 10, :cols => 20 %>
<br/>
<%= submit_tag 'update' %>
<% end -%>
</div>
<br/>
<div id="email">
<% form_tag do %>
<%= text_area_tag "message", "Send this message to everybody", :rows => 10, :cols => 20 %>
<%= submit_tag 'email' %>
<% end %>
</div>


