<h1>Welcome to the VoiceBox Karaokeathon.</h1>
<div id="mainmenu" style="padding:40px">
<h1>

<%= link_to "start", start_path %>
<br/><br/>
 
<%= link_to "join", join_path %>
<br/><br/>
 
<%= link_to "calendar", calendar_path %>
<br/><br/>
 
<%= link_to "search", search_path %>
<br/><br/>
 
<%= link_to "start", start_path %>
<br/><br/>
 
<%= link_to "browse", browse_path %>
<br/><br/>
 
<%= link_to "teams", teams_path %>
<br/><br/>

<%= link_to "team", team_path %>
<br/><br/>

</h1>
</div>

