<h1>Welcome to the VoiceBox Karaokeathon.</h1>
<div id="mainmenu">
<h1>

<%= link_to "Create a team", :action => 'new', :controller => 'teams' %>
<br/><br/>
 
<%= link_to "Find a team",  teams_path %>
<br/><br/>
 
<%= link_to "Donate", donate_path %>
<br/><br/>
<% if current_user.admin? || current_user == nil %>
<%= link_to "(Administration)", admin_path %>
<% end %>
<br/><br/>

</h1>
</div>

  <div id="rightcol">
  <% unless current_user %>
  <%= render :partial => "user_sessions/login" %>
  <% else %>
  <p>Hi there, <%= current_user.email %>!</p>
  <% end %>
  </div>

