<div id="mainmenu">

<% 
  @team = nil
  @team = Team.get_team(current_user) if current_user != nil
%>

<!--
<% if @team %>
<h1 class="biglinks"><%= link_to @team.name, "/teams/#{@team.id}" %></h1>
<p class="explain">Go directly to your team!</p>
<% else %>
<h1 class="biglinks"><%= link_to "Get started! Register", "/start" %></h1>
<p class="explain">
New to Raise Your Voice?  Go here first!
</p>
<% end %>

<h1 class="biglinks"><%= link_to "Find teams",  teams_path %></h1>
<p class="explain">
Join a team or check out the competition!
</p>
 
<h1 class="biglinks"><%= link_to "Make a donation!", donate_path %></h1>
<p class="explain">Support your friend's team and Ethos!
</p>

<% if current_user != nil && current_user.admin? %> 
<%= link_to "Administration", admin_path %>
<% end %>
-->


<div id="teamtop5">
<div class="boxxy">
  <%= image_tag "top5h2.png", :title => 'Top 5 Raisers' %><br />
  <table class="top5">
    <tr>
      <th title="top fundraising teams" scope="col" width="143">teams</th>
      <th title="amount of money raised" scope="col" width="50">$$$</th>
    </tr>
    <% count = 0
       Team.payment_top_teams.each do |team|
         count = count + 1
         break if count > 5
    %>
    <tr class="listview">
      <td><%= team.name %></td>
      <td>$<%= team.total_donations %></td>
    </tr>
    <% end %>
  </table>
  <table class="top5" style="">
    <tr>
      <th title="top fundraising members" scope="col" width="143">members</th>
      <th title="amount of money raised" scope="col" width="50">$$$</th>
    </tr>
    <% count = 0
       Team.payment_top_users.each do |user|
       count = count + 1
       break if count > 5
    %>
    <tr class="listview">
      <td><%= user.firstname %> <%= user.lastname %></td>
      <td>$<%= user.payments %></td>
    </tr>
    <%  end %>
    <tr></tr>
  </table>
  </div>
</div>
<%= render :partial => "index/prizes" %>
<h2>Follow us on <a href="http://twitter.com/RaiseYourVoxPDX">Twitter/RaiseYourVoxPDX</a></h2>

</div>

