<h1>Welcome to the VoiceBox Karaokeathon.</h1>
<div id="mainmenu" style="padding:40px">
<h1>

<%= link_to "Start a new Team!", :action => 'new', :controller => 'teams' %>
<br/><br/>
 
<%= link_to "See Team Calendar!", calendar_path %>
<br/><br/>
 
<%= link_to "Search for a team!", search_path %>
<br/><br/>
 
<%= link_to "Browse the teams!", teams_path %>
<br/><br/>

<%= link_to "Administration", admin_path %>
<br/><br/>

</h1>
</div>

