<div id="mainmenu">

<% 
  @team = nil
  @team = Team.get_team(current_user) if current_user != nil
%>

<%= link_to "Explore teams",  teams_path %>
<p class="explain">Explanatory text about exploring some teams</p>
 
<% if @team %>
Your team is here <%= link_to @team.name, "/teams/#{@team.id}" %>
<% else %>
<%= link_to "Start your own team", new_team_path %>
<p class="explain">Explanatory text about exploring some teams</p>
<% end %>
 
<%= link_to "Make a donation!", donate_path %>
<p class="explain">Explanatory text about exploring some teams</p>

<% if current_user != nil && current_user.admin? %> 
<%= link_to "Administration", admin_path %>
<% end %>



<div id="teamtop5">
<div class="boxxy">
  <%= image_tag "top5h2.png", :title => 'Top 5 Raisers' %><br />
  <table class="top5">
    <tr>
      <th title="top fundraising teams" scope="col" width="143">teams</th>
      <th title="amount of money raised" scope="col" width="50">$$$</th>
    </tr>
    <% Team.payment_top_teams.each do |team| %>
    <tr class="listview">
      <td><%= team.name %></td>
      <td><%= team.total_donations %></td>
    </tr>
    <% end %>
  </table>
  <table class="top5" style="margin-left: 18px">
    <tr>
      <th title="top fundraising members" scope="col" width="143">members</th>
      <th title="amount of money raised" scope="col" width="50">$$$</th>
    </tr>
    <% Team.payment_top_users.each do |user| %>
    <tr class="listview">
      <td><%= user.firstname %> <%= user.lastname %></td>
      <td><%= user.payments %></td>
    </tr>
    <% end %>
  </table>
  </div>
</div>
</div>