<div id="mainmenu">

<% 
  @team = nil
  @team = Team.get_team(current_user) if current_user != nil
%>

<%= link_to "Find teams",  teams_path %>
<p class="explain">
Search for teams here. Join a team, check out the competition, or just see what the fuss is all about – and what these teams are up to.</p>
 
<% if @team %>
<%= link_to @team.name, "/teams/#{@team.id}" %>
<p class="explain">Go directly to your team!</p>
<% else %>
<%= link_to "Get started! Register", "/start" %>
<p class="explain">
Want to know how it works and get involved? Sign up here to start a brand new team or join an existing team – and start raising money for Ethos! If you already have a team captain, you can also find your team in the “Find Teams” section, and join from there.
</p>
<% end %>
 
<%= link_to "Make a donation!", donate_path %>
<p class="explain">Click here to donate to a specific team or to directly to the event.</p>

<% if current_user != nil && current_user.admin? %> 
<%= link_to "Administration", admin_path %>
<% end %>

<div id="teamtop5">
<div class="boxxy">
  <%= image_tag "top5h2.png", :title => 'Top 5 Raisers' %><br />
  <table class="top5">
    <tr>
      <th title="top fundraising teams" scope="col" width="143">teams</th>
      <th title="amount of money raised" scope="col" width="50">$$$</th>
    </tr>
    <% count = 0
       Team.payment_top_teams.each do |team|
         count = count + 1
         break if count > 5
    %>
    <tr class="listview">
      <td><%= team.name %></td>
      <td><%= team.total_donations %></td>
    </tr>
    <% end %>
  </table>
  <table class="top5" style="">
    <tr>
      <th title="top fundraising members" scope="col" width="143">members</th>
      <th title="amount of money raised" scope="col" width="50">$$$</th>
    </tr>
    <% count = 0
       Team.payment_top_users.each do |user|
       count = count + 1
       break if count > 5
    %>
    <tr class="listview">
      <td><%= user.firstname %> <%= user.lastname %></td>
      <td><%= user.payments %></td>
    </tr>
    <%  end %>
    <tr></tr>
  </table>
  </div>
</div>
</div>
<h2>Follow us on <a href="http://twitter.com/RaiseYourVoxPDX">Twitter/RaiseYourVoxPDX</h2>

