<table>
  <tr><th>Email Address</th><td><%= form.text_field :email %></td></tr>

  <tr><th>First Name</th><td><%= form.text_field :firstname %></td></tr>
  <tr><th>Last Name</th><td><%= form.text_field :lastname %></td></tr>
  <tr><th>Complete Address<br />(inc. City, State and Zip)</th><td><%= form.text_field :address %></td><tr>
  <tr><th>Phone Number</th><td><%= form.text_field :phone %></td></tr>
  <tr><th>Age</th><td><%= form.text_field :age %></td></tr>
  <tr><th>T-shirt Size</th><td>
      <%= form.radio_button :tshirt,:"small" %> Small&nbsp;&nbsp;&nbsp;&nbsp;
      <%= form.radio_button :tshirt,:"medium" %> Medium&nbsp;&nbsp;&nbsp;&nbsp;
      <%= form.radio_button :tshirt,:"large" %> Large&nbsp;&nbsp;&nbsp;&nbsp;
      <%= form.radio_button :tshirt,:"xtralarge" %>  Extra Large
  </td></tr>
  <tr><th>Does your company match donations?<br />Enter your company name and we'll contact them</th>
  <td><%= form.text_field :matching_company %></td></tr>
  <tr><th>
    <%= form.label "Choose a password", form.object.new_record? ? nil : "New password" %></th>
  <td><%= form.password_field :password %></td></tr>
  <tr><th>Confirm Password</th><td><%= form.password_field :password_confirmation %></td></tr>
</table>


<%= form.check_box :optinsms, {:checked => true} %> Yes! I would like the event staff to be able to contact me on my phone via SMS.<br />

<%= form.check_box :optinethos, {:checked => true} %> Yes! I would like to receive news and updates from Ethos Music Center. <br />

<%= form.check_box :optinvoicebox, {:checked => true} %> Yes! I would like to receive news and updates from Voicebox Karaoke Lounge. <br />


<% if current_user == nil %>
  <%= form.check_box :tos %> I agree to the <%=link_to "terms of service", "/privacy", :target => '_blank' %><br />
<% end %>
<br /><br /><%= form.label "Upload a photo for to appear on your team roster:" %><br />
<%= form.file_field :photo %>

