  <label>Email Address</label><%= form.text_field :email %>

  <label>First Name</label><%= form.text_field :firstname %>
  <label>Last Name</label><%= form.text_field :lastname %>
  <label>Complete Address<br />(inc. City, State and Zip)</label><%= form.text_field :address %></td><tr>
  <label>Phone Number</label><%= form.text_field :phone %>
  <label>Age</label><%= form.text_field :age %>
  <br class='clear'>
  <label>T-shirt Size</label>
      <%= form.radio_button :tshirt,:"small", :class => "radiobutton"  %> Small&nbsp;&nbsp;
      <%= form.radio_button :tshirt,:"medium",  :class => "radiobutton"  %> Medium&nbsp;&nbsp;
      <%= form.radio_button :tshirt,:"large", :class => "radiobutton"  %> Large&nbsp;&nbsp;
      <%= form.radio_button :tshirt,:"xtralarge",  :class => "radiobutton"  %>  X Large
    <br class='clear'>

  <label>Does your company match donations?<br />Enter your company name and we'll contact them!
  <td><%= form.text_field :matching_company %>
  <label>
    <%= form.label "Choose a password", form.object.new_record? ? nil : "New password" %>
  <td><%= form.password_field :password %>
  <label>Confirm Password</label><%= form.password_field :password_confirmation %>

<%= form.check_box :optinsms, :checked => true, :class => "radiobutton" %> Yes! I would like the event staff to be able to contact me on my phone via SMS.<br />

<%= form.check_box :optinethos, :checked => true, :class => "radiobutton" %> Yes! I would like to receive news and updates from Ethos Music Center. <br />

<%= form.check_box :optinvoicebox, :checked => true, :class => "radiobutton" %> Yes! I would like to receive news and updates from Voicebox Karaoke Lounge. <br />

<% if current_user == nil %>
  <%= form.check_box :tos, :class => "radiobutton" %> I agree to the <%=link_to "terms of service", "/privacy", :target => '_blank' %><br />
<% end %>
<br /><br /><%= form.label "Upload a photo for to appear on your team roster:" %><br />
<%= form.file_field :photo %>

