<script>
var users = [
<% User.all().each do |user| %>
  "<%=user.firstname%>",<%=user.id%>,<%=user.team_id%>,
<% end %>
];
function change_team(form,value) {
  var parent = document.getElementById('party');
  if(parent.hasChildNodes()) {
    while(parent.childNodes.length>0) {
        parent.removeChild(parent.firstChild); 
    }
  }
  for(var i = 0; i < users.length; i = i + 3 ) {
    name = users[i];
    id = users[i+1];
    teamid = users[i+2];
    if(teamid == value) {
      var node = document.createElement('option');
      node.value = id;
      node.innerHTML = name;
      parent.appendChild(node);
    }
  }
}
</script>

<h1>Sponsor!</h1>

Raise Your Voice is a 24-hour karaoke marathon to benefit Ethos Music Center held at Voicebox Karaoke, located on 21st and NW Hoyt. Put your money where your mic is and help be part of the first fundraiser of this kind to be held in the Portland area.
<br/>
Your sponsorship will help the <a href="http://www.ethos.org">Ethos Music Center</a> promote music and music-based education for youth in underserved communities.
<br/>

<form action="/checkout" >
Donate on behalf of team 
<select name="team" id="team" onchange="change_team(this.form,this.value);">
<% selected = "selected" if !@team %>
<option <%=selected%> value="9">ethos general fund</option>
<%
@teams.each do |team|
 selected = ""
 selected = "selected" if @team && team == @team
 %>
 <option <%=selected%> value="<%=team.id%>" ><%=team.name%></option>
<% end %>
</select>
and user
<select name="party" id="party">
<%
@parties.each do |party|
 selected = ""
 selected = "selected" if @party && @party == party
 %>
 <option value="<%=party.id%>" <%=selected%>><%=party.firstname%></option>
<% end %>
</select>
<input name="donation" value="10.00"/><br/>
<input type="radio" name="donation2" value="10">10.00</input><br/>
<input type="radio" name="donation2" value="20">20.00</input><br/>
<input type="radio" name="donation2" value="40">40.00</input><br/>
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" value='submit' alt='submit'></input>
</form>


