<script>
var users = [
<% User.all().each do |user| %>
  "<%=user.firstname%>",<%=user.id%>,<%=user.team_id%>,
<% end %>
];
function change_team(form,value) {
  var parent = document.getElementById('party');
  if(parent.hasChildNodes()) {
    while(parent.childNodes.length>0) {
        parent.removeChild(parent.firstChild); 
    }
  }
  for(var i = 0; i < users.length; i = i + 3 ) {
    name = users[i];
    id = users[i+1];
    teamid = users[i+2];
    if(teamid == value) {
      var node = document.createElement('option');
      node.value = id;
      node.innerHTML = name;
      parent.appendChild(node);
    }
  }
}
function clear_donation(amount) {
  document.getElementById("donation").value = amount;
}
// force this form to reset!
function reset_form() {
  var f = document.getElementById("sponsorform");
  if(f) {
    f.reset();
  }
}
// reset it now!
reset_form();
</script>

<h1>Sponsor</h1>

Raise Your Voice is a 24-hour karaoke marathon to benefit Ethos Music Center held at Voicebox Karaoke, located on 21st and NW Hoyt. Put your money where your mic is and help be part of the first fundraiser of this kind to be held in the Portland area.  Your sponsorship will help the <a href="http://www.ethos.org">Ethos Music Center</a> promote music and music-based education for youth in underserved communities. Please see our <a href="/about">about page</a> for more details.
<br/>
<br/>

<form id="sponsorform" name="sponsorform" action="/checkout" >
<h2>1. Select the team and user to support:</h2>
<br/>
You can donate to a specific team and on behalf of a specific team member. You can also donate to the general Ethos fund if you're not sponsoring a team.
<br/>
<br/>
Donate to team <select name="team" id="team" onchange="change_team(this.form,this.value);">
<% selected = "selected" if !@team %>
<option <%=selected%> value="9">ethos general fund</option>
<%
@teams.each do |team|
 selected = ""
 selected = "selected" if @team && team == @team
 %>
 <option <%=selected%> value="<%=team.id%>" ><%=team.name%></option>
<% end %>
</select>
and user
<select name="party" id="party">
<%
@parties.each do |party|
 selected = ""
 selected = "selected" if @party && @party == party
 %>
<option value="<%=party.id%>" <%=selected%>><%=party.firstname%> <%=party.lastname%></option>
<% end %>
</select>
<br/>
<br/>
<h2>2. Select a donation amount</h2>
<br/>
Choose one of the pre-determined amounts or enter any other amount.
<br/>
<br/>
<input type="radio" name="donation2" value="10" onchange="clear_donation(10);" >$10</input>&nbsp;&nbsp;&nbsp;
<input type="radio" name="donation2" value="15" onchange="clear_donation(15);" >$15</input>&nbsp;&nbsp;&nbsp;
<input type="radio" name="donation2" value="25" onchange="clear_donation(25);" >$25</input>&nbsp;&nbsp;&nbsp;
<input type="radio" name="donation2" value="50" onchange="clear_donation(50);" >$50</input>&nbsp;&nbsp;&nbsp;
<input type="radio" name="donation2" value="75" onchange="clear_donation(75);" >$75</input>&nbsp;&nbsp;&nbsp;
<input type="radio" name="donation2" value="100" onchange="clear_donation(100);" >$100</input>&nbsp;&nbsp;&nbsp;
Other $<input id="donation" name="donation" value="10.00" />
<br/>
<h2>3. Checkout</h2>
<br/>
We use PayPal as our payment processor.  Click below to pay with your Visa, MasterCard, American Express or PayPal account.  You'll receive a receipt via email.
<br/>
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" value='submit' alt='submit'></input>
</form>
<h3>The full amount of your sponsorship is a tax-deductible donation to Ethos Music Center.  Please save your emailed receipt.</h3>

