<div id="footer" >
  <p>
  <%= link_to "Home", root_url %>&nbsp;.&nbsp;
  <%= link_to "About the Event", about_url %>&nbsp;.&nbsp;
  <%= link_to "My Account", account_path %>&nbsp;.&nbsp;
  <%= link_to "Privacy Policy", privacy_url %>&nbsp;.&nbsp;
  <%= link_to "Terms of Service", tos_url %>
  </p>
</div>

