<div style="clear:both;border:1px solid red;width:%100;height:200px;" >
  <p><%= link_to "Privacy Policy", privacy_url %>
  <p><%= link_to "Terms of Service", tos_url %>
  <p><%= link_to "About", about_url %>
  <p><%= link_to "Home", root_url %>
  <%= link_to "My Account", account_path %></p>
</div>

