<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<div style="float:right">
<%= link_to "Home", "/" %> |
<% if !current_user %>
  <%= link_to "Signup", new_account_path %> |
  <%= link_to "Signin", new_user_session_path %> 
<% else %>
  <%= link_to "My Account", account_path %> |
  <%= link_to "Signout", user_session_path, :method => :delete %>
<% end %>
</div>
<div style="clear:both"/>
<p style="color: green"><%= flash[:notice] %></p>

<div style="float:left;width:100px;height:100px;border:1px solid red;">
[VoiceBox!]
</div>

<div style="float:right;width:100px;height:100px;border:1px solid red;">
[Ethos!]
</div>
<div style="clear:both"/>
<hr>

<div id="rightside" style="float:right;width:100px">
Sponsored by:
<a href="http://siliconflorist.com">Silicon Florist</a>
<a href="http://disney.com">Disney</a>
</div>

<div id="leftside">
<%= yield  %>
</div>

</body>
</html>
