<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Raise Your Voice Benefit for Ethos Music Center</title>
  <%= stylesheet_link_tag 'threecolumn' %>
  <%= stylesheet_link_tag 'home' %> 
  <%= javascript_include_tag :defaults %>
</head>
<body>
<% if flash[:notice] %><h1><center><div id="notice"><%= flash[:notice] %></div></center></h1><% end %>
<% if flash[:error] %><h1><center><div id="error"><%= flash[:error] %></div></center></h1><% end %>

  <div id="normal_container">

    <a href="http://www.ethos.org/">
      <div id="home_graphic"> <%= image_tag("home_graphic.gif") %> </div>
    </a>

 

    <div id="horiz_bar"> 
    <a href="http://www.ethos.org">
      <div id="splash_leftside"> <p> <%= link_to "About the Event", about_url %></p>
<p>  <%= link_to "Contact Us", "/contact" %></p> </div>
    </a>
    <div id="splash_middleside">
    <%= render :partial => "index/intro" %>
    <%= yield  %>
    </div>
   

    <div id="splash_rightside">
    <%= render :partial => "index/login_header" %>
    </div>
 </div>
  </div>
<center>
  <%= render :partial => "layouts/footer" %>
</center>
</body>
</html>
