<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>VoiceBox Karaokethon! <%= controller.controller_name + " => " + controller.action_name %></title>
  <%= stylesheet_link_tag 'home' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
  <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
  <% if flash[:error] %><div id="error"><%= flash[:error] %></div><% end %>
  <div id="splash_container">
    <%= image_tag("yell2.png") %>
    <div id="splash_leftside">
    <p>&nbsp;</p>
    </div>
    <div id="splash_middleside">
    <%= render :partial => "index/intro" %>
    <%= yield  %>
    </div>
    <div id="splash_rightside">
    <%= render :partial => "index/login_header" %>
    </div>
  </div>
  <%= render :partial => "layouts/footer" %>
</body>
</html>
