<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>Raise Your Voice Benefit for Ethos Music Center</title>
<%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'threecolumn' %>
  <%= javascript_include_tag :defaults %>
    <!--[if IE]>
  <%= stylesheet_link_tag 'ie' %>
<![endif]-->
</head>
<body>
<div id="wrapper">
 <%= render :partial => "layouts/login_header" %>
 <div id="threecolumn">
 <div id="normal_container">
  <div id="normal_left">
   <% if controller.controller_name == 'teams' && controller.action_name == 'show' %>
    <%= render :partial => "team_menu" %>
   <% else %>
    <p>&nbsp;</p>
    <% end %>
  </div>
  <div id="normal_middle">
   <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
   <% if flash[:error] %><div id="error"><%= flash[:error] %></div><% end %>
   <%= yield  %>
  </div>
  <div id="normal_right">
   <%= render :partial => "layouts/ads" %>
  </div>
  <%= render :partial => "layouts/footer" %>
  </div>
 </div>  
 </div>
</body>
</html>

